<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.mode %></td>
        <td><%= transaction.status %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

<li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>